@model IEnumerable<rp799815_MIS4200.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patientFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.patientFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.patientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.patientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.patientID })
        </td>
    </tr>
}

</table>
