@model IEnumerable<rp799815_MIS4200.Models.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.doctorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctorPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctorEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.doctorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctorLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctorPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctorEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.doctorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.doctorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.doctorID })
        </td>
    </tr>
}

</table>
