@model rp799815_MIS4200.Models.Instructors

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.instructorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructorIastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructorIastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.instructorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
